@import "./table_overwriter.scss";
@import "./input_overwriter.scss";
@import "./select_overwriter.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --background: #F2F2F2;
  --text: #2E2E2E;
  --accent: #FFC107;
  --link: #FF5722;
  --divider: #424242;
}

body {
  color: var(--text);
  background: var(--background);
  font-family: Helvetica-Regular;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--text);
  transition: 0.2s ease-out;

  &:hover {
    color: var(--link);
  }
}

.page-header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.page-form-container {
  max-width: 600px;

  .input-group-container {
    display: flex;
    justify-content: space-between;
  }

  .input-container {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}
