@import "rc-table/assets/index.css";

.rc-table-content {
  border-color: gray !important;
}

.rc-table-cell {
  text-align: left !important;
  border-color: gray !important;
}

.rc-table-cell-row-hover {
  background-color: rgba(202, 202, 202, 0.5) !important;
}

.rc-table-remove-col {
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
  }
}
