.select {
  &--container {
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 4px;
    }
  }

  &--option-img {
    object-fit: contain;
    margin-right: 8px;
  }

  &--option-container {
    display: flex;
    align-items: center;
  }
}
